@{
    ViewData["Title"] = "Update book";
}

@model BookingApp.Models.BookUpdateModel

<div class="container">
    <h4>Update book</h4>
    <div class="row">
        @{
            Microsoft.Extensions.Primitives.StringValues queryVal;

            if (Context.Request.Query.TryGetValue("error", out queryVal) &&
                queryVal.FirstOrDefault() == "wrongName")
            {
                <p class="text-danger">The book already exist.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
                queryVal.FirstOrDefault() == "lessBooks")
            {
                <p class="text-danger">You cannot have less books than the reserved ones.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "error")
            {
                <p class="text-danger">Try again later.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "updated")
            {
                <p class="text-success">The book was updated.</p>
            }
        }
    </div>
    <div>
        @using (Html.BeginForm("Update", "Book", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="book">Book</label>
                <input type="text" class="form-control" name="book" id="book" maxlength="50" aria-describedby="bookName" placeholder="Book title" value="@Model.Book" required />
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" name="author" id="author" aria-describedby="author" placeholder="author" value="@Model.Author" required />
            </div>
            <div class="form-group">
                <label for="year">Publication year</label>
                <input type="number" class="form-control" id="year" name="year" placeholder="Year" value="@Model.Year" />
            </div>
            <div id="barcodes">
                <label><b>Copies</b></label>
                <button id="btnAdd" type="button" class="btn btn-success btn-circle">+</button>
                <button id="btnMinus" type="button" class="btn btn-danger btn-circle">-</button>
                @{
                    var i = 1;
                    foreach (var barcode in Model.Barcodes)
                    {
                        <div class="form-group" id="div-@barcode.Key">
                            <label for="[0]">Barcode #@i</label><input type="text" class="form-control" minlength="8" name="[@barcode.Key]" id="[@barcode.Key]" aria-describedby="barcode" placeholder="Barcode" value="@barcode.Value" required>
                        </div>
                        i++;
                    }
                }
            </div>
            @Html.HiddenFor(m => m.Total, new { @id = "total" })
            <div class="actions">
                @Html.ActionLink("Back", "Index", "Library", new { }, new { @class = "btn btn-info" })
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
    </div>
    <style>
        .actions {
            text-align: right;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            padding: 6px 0px;
            border-radius: 15px;
            text-align: center;
            font-size: 12px;
            line-height: 1.42857;
        }
    </style>
    <script>
        $(function () {
            let total = parseInt($("#total").val());

            $("#btnAdd").click(function () {
                $("#barcodes").append(`<div class="form-group" id="div-${total}">
                <label for="[${total}]">Barcode #${total + 1}</label><input type="text" class="form-control" minlength="8" name="[${total}]" id="[${total}]" aria-describedby="barcode" placeholder="Barcode" required></div>`);
                total++;
            });

            $("#btnMinus").click(function () {
                if ((total - 1) > 0) {
                    total--;
                    $(`#div-${total}`).remove();
                }
            });
        });
    </script>
</div>