
@{
    ViewData["Title"] = "Booking";
}

@model BookingApp.Models.ReservationsModel

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#booksTab" data-toggle="tab">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#reservations" data-toggle="tab">My Reservations</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active" id="booksTab">
            <h4>Books Available</h4>
            <dl class="row">
                <dd class="col-sm-10">
                    <table class="table">
                        <tr>
                            <th>Book</th>
                            <th>Available</th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.AvailableBooks)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Book)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Available)
                                </td>
                                <td>
                                    @Html.ActionLink("Reserve", "Reserve", "Booking", new { id = item.BookId })
                                </td>
                            </tr>
                        }
                    </table>
                </dd>
            </dl>
        </div>
        <div class="tab-pane" id="reservations">
            <h4>Reserved Books</h4>
            <dl class="row">
                <dd class="col-sm-10">
                    <table class="table">
                        <tr>
                            <th>Book</th>
                            <th>Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.ReservatedBooks)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Book)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.ActionLink("Cancel", "Cancel", "Booking", new { id = item.ReservationId })
                                </td>
                            </tr>
                        }
                    </table>
                </dd>
            </dl>
        </div>
    </div>
</div>
