
@{
    ViewData["Title"] = "Booking";
}

@model BookingApp.Models.ReservationsModel

<div class="container">
    <div class="row">
        <div class="col">
            @Html.ActionLink("Log Out", "LogOut", "Library")
        </div>
        <div class="col">
            @Html.ActionLink("Change Password", "Index", "ChangePassword")
        </div>
    </div>
    <div class="row">
        @{
            Microsoft.Extensions.Primitives.StringValues queryVal;

            if (Context.Request.Query.TryGetValue("error", out queryVal) &&
                queryVal.FirstOrDefault() == "tooMany")
            {
                <p class="text-danger">You cannot reserve more than 2 copies of the same book.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
                queryVal.FirstOrDefault() == "unavailable")
            {
                <p class="text-danger">There are no more copies available.</p>
            }
            else if (Context.Request.Query.TryGetValue("error", out queryVal) &&
               queryVal.FirstOrDefault() == "error")
            {
                <p class="text-danger">Try again later.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "reserved")
            {
                <p class="text-success">The book was reserved.</p>
            }
            else if (Context.Request.Query.TryGetValue("msg", out queryVal) &&
              queryVal.FirstOrDefault() == "canceled")
            {
                <p class="text-success">The reservation was canceled.</p>
            }
        }
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#booksTab" data-toggle="tab">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#reservations" data-toggle="tab">My Reservations</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="booksTab">
                <h4>Books Available</h4>
                <dl class="row">
                    <dd class="col-sm-10">
                        <table class="tblResponsive">
                            <thead>
                                <tr>
                                    <th>Book</th>
                                    <th>Author</th>
                                    <th>Publication year</th>
                                    <th>Available</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AvailableBooks)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Book)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Author)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PublicationYear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Available)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Reserve", "Reserve", "Booking", new { id = item.BookId })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>
            <div class="tab-pane" id="reservations">
                <h4>My Reserved Books</h4>
                <dl class="row">
                    <dd class="col-sm-10">
                        <table class="tblResponsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Book</th>
                                    <th>Author</th>
                                    <th>Date</th>
                                    <th>Return</th>
                                    <th>Returned</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ReservedBooks)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReservationId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Book)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Author)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ReturnDate)
                                        </td>
                                        @if (item.ReturnedDate != null)
                                        {
                                            <td>Yes</td>
                                        }
                                        else
                                        {
                                            <td>No</td>
                                        }
                                        <td>
                                            @Html.ActionLink("Cancel", "Cancel", "Booking", new { id = item.ReservationId }, new { @onclick = "return confirm('Are you sure?')" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

<script>
    $('.tblResponsive').DataTable({
        responsive: true
    });
</script>