@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library 🌎</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Library 🌎</a>
                @if (!string.IsNullOrEmpty(Context.Session.GetString("role")))
                {
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                Welcome                             @Html.ActionLink(Context.Session.GetString("user"), "Index", "Profile")!
                            </li>
                            <li class="nav-item">@Html.ActionLink("Change Password", "Index", "ChangePassword")</li>
                            @if (Context.Session.GetInt32("role") == 0)
                            {
                                <li class="nav-item">@Html.ActionLink("Settings", "Index", "Settings")</li>
                            }
                            <li class="nav-item">
                                @if (Context.Session.GetInt32("role") == 0)
                                {
                                    @Html.ActionLink("Log Out", "LogOut", "Library")

                                }
                                else
                                {
                                    @Html.ActionLink("Log Out", "LogOut", "Booking")
                                }
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - <a href="https://federiconavarrete.com">Federico Navarrete</a> and <a href="https://supernovaic.tk">Supernova IC</a>
        </div>
    </footer>

    <style>
        .text-center {
            text-align: center;
        }

        .navbar-nav > li {
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
